* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

body {
  background-color: #1E1F26;
  color: #FFF;
  overflow-x: hidden;
}

canvas {
  position: absolute;
  top: 0;
  left: 0;
}

#hero {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: left;
  padding-left: 35%;
}

#about {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 1rem 2.5rem;
}

.cards {
  width: 100%;
  display: flex;
  justify-content: space-evenly;
  margin-top: 4rem;
  gap: 2rem;
}

.serviceCard {
  width: 100%;
  min-height: 280px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border: 1px solid white;
}

.serviceImg {
  margin: 2.5rem 0;
  width: 80px;
  height: 80px;
}

.heroHeadText {
  font-size: 80px;
  color: #03dac6;
}

.heroSubText {
  font-size: 30px;
}

.sectionHeadText {
  font-size: 60px;
}

.sectionSubText {
  font-size: 18px;
  color: rgba(255, 255, 255, .65)
}

#name {
  color: #ff0266;
}

/* TIMELINE */
.ag-timeline-block {
  padding: 300px 0;
}
.ag-timeline_title-box {
  padding: 0 0 30px;

  text-align: center;
}
.ag-timeline_tagline {
  font-size: 40px;
  color: rgb(84, 89, 95);
}
.ag-timeline_title {
  background-image: url(https://raw.githubusercontent.com/SochavaAG/example-mycode/master/pens/timeline/images/bg.jpg);
  background-repeat: no-repeat;
  background-position: 50% 50%;

  background-size: cover;
  -webkit-background-clip: text;
  background-clip: text;
  text-fill-color: transparent;
  color: transparent;

  font-size: 80px;
}

.ag-timeline_item {
  margin: 0 0 50px;

  position: relative;
}


.ag-timeline_item:nth-child(2n) {
  text-align: right;
}


.ag-timeline {
  display: inline-block;
  width: 100%;
  max-width: 100%;
  margin: 0 auto;

  position: relative;
}
.ag-timeline_line {
  width: 2px;
  background-color: #393935;

  position: absolute;
  top: 2px;
  left: 50%;
  bottom: 0;

  overflow: hidden;

  -webkit-transform: translateX(-50%);
  -moz-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  -o-transform: translateX(-50%);
  transform: translateX(-50%);
}

.ag-timeline_line-progress {
  width: 100%;
  height: 20%;
  background-color: #03dac6;
}

.ag-timeline-card_box {
  padding: 0 0 20px 50%;
}
.ag-timeline_item:nth-child(2n) .ag-timeline-card_box {
  padding: 0 50% 20px 0;
}
.ag-timeline-card_point-box {
  display: inline-block;
  margin: 0 14px 0 -28px;
}
.ag-timeline_item:nth-child(2n) .ag-timeline-card_point-box {
  margin: 0 -28px 0 14px;
}
.ag-timeline-card_point {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 50px;
  line-height: 50px;
  width: 50px;
  border: 3px solid #03dac6;
  background-color: #1d1d1b;

  text-align: center;
  font-family: 'ESL Legend', sans-serif;
  font-size: 20px;
  color: #FFF;

  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  border-radius: 50%;
}

.card-point-img {
  width: 40px;
  height: 40px;
}

.js-ag-active .ag-timeline-card_point {
  color: #1d1d1b;
  background-color: #03dac6;
}
.ag-timeline-card_meta-box {
  display: inline-block;
}
.ag-timeline-card_meta {
  margin: 10px 0 0;
  text-align: left;
  font-family: 'ESL Legend', sans-serif;
  font-weight: bold;
  font-size: 28px;
  color: #03dac6;
}
.ag-timeline-card_item {
  display: inline-block;
  width: 45%;
  margin: -77px 0 0;
  background-color: #282828;

  opacity: 0;

  -webkit-border-radius: 6px;
  -moz-border-radius: 6px;
  border-radius: 6px;

  -webkit-box-shadow: 0 0 0 0 rgba(0,0,0,.5);
  -moz-box-shadow: 0 0 0 0 rgba(0,0,0,.5);
  -o-box-shadow: 0 0 0 0 rgba(0,0,0,.5);
  box-shadow: 0 0 0 0 rgba(0,0,0,.5);

  -webkit-transition: -webkit-transform .5s, opacity .5s;
  -moz-transition: -moz-transform .5s, opacity .5s;
  -o-transition: -o-transform .5s, opacity .5s;
  transition: transform .5s, opacity .5s;

  position: relative;
}
.ag-timeline_item:nth-child(2n+1) .ag-timeline-card_item {
  -webkit-transform: translateX(-200%);
  -moz-transform: translateX(-200%);
  -ms-transform: translateX(-200%);
  -o-transform: translateX(-200%);
  transform: translateX(-200%);
}
.ag-timeline_item:nth-child(2n) .ag-timeline-card_item {
  -webkit-transform: translateX(200%);
  -moz-transform: translateX(200%);
  -ms-transform: translateX(200%);
  -o-transform: translateX(200%);
  transform: translateX(200%);
}
.js-ag-active.ag-timeline_item:nth-child(2n+1) .ag-timeline-card_item,
.js-ag-active.ag-timeline_item:nth-child(2n) .ag-timeline-card_item {
  opacity: 1;

  -webkit-transform: translateX(0);
  -moz-transform: translateX(0);
  -ms-transform: translateX(0);
  -o-transform: translateX(0);
  transform: translateX(0);
}
.ag-timeline-card_arrow {
  height: 18px;
  width: 18px;
  margin-top: 20px;
  background-color: #282828;

  z-index: -1;
  position: absolute;
  top: 0;
  right: 0;

  -webkit-transform: rotate(45deg);
  -moz-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  -o-transform: rotate(45deg);
  transform: rotate(45deg);
}
.ag-timeline_item:nth-child(2n+1) .ag-timeline-card_arrow {
  margin-left: calc(-18px / 2);
  margin-right: calc(-18px / 2);
}
.ag-timeline_item:nth-child(2n) .ag-timeline-card_arrow {
  margin-left: -10px;

  right: auto;
  left: 0;
}
.ag-timeline-card_header {
  text-align: left;
  padding: 1rem 1.6rem;
}
.ag-timeline-card_info {
  padding: 20px 30px;
}
.ag-timeline-card_title {
  display: none;
  margin: 10px 0 0;
  font-family: 'ESL Legend', sans-serif;
  font-weight: bold;
  font-size: 28px;
  color: #03dac6;
}
.ag-timeline-card_desc {
  line-height: 1.45;
  text-align: left;
  font-size: 16px;
  color: #FFF;
}

/* HOLO CARDS */
@property --ratio-x {
  syntax: "<number>";
  inherits: true;
  initial-value: 0;
}
@property --correction {
  syntax: "<percent>";
  inherits: true;
  initial-value: 0%;
}
@property --ratio-y {
  syntax: "<number>";
  inherits: true;
  initial-value: 0;
}
:root {
  --labs-sys-color-surface: #444;
  --labs-sys-color-on-surface: hsl(0, 100%, 0%);
  --labs-sys-color-background: black;
  --labs-sys-radius-surface: 2rem;
  --c1: #ddb4eb;
}

.logo-img {
  width: 128px;
  height: 128px;
}

.logo {
  color: white;
  font-weight: bold;
  font-size: 7cqw;
  position: absolute;
  left: 19%;
  top: 19%;
}
.logo:before {
  content: '';
  display: flex;
  justify-content: center;
  align-items: center;
  color: rgba(0, 0, 0, 0.4);
  z-index: -1;
  position: absolute;
  left: 25%;
  top: 30%;
}
.logo:after {
  content: "";
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  transform-style: preserve-3d;
  transition: all 0.2s linear;
  position: absolute;
  left: 25%;
  top: 30%;
  transform: perspective(100px) translateZ(calc(0.01rem + 0.5rem * var(--ratio-x))) translate(calc(0rem + var(--ratio-x) * -1rem), calc(0rem + var(--ratio-y) * -1rem)) rotateY(calc(-10deg * var(--ratio-x))) rotateX(calc(10deg * var(--ratio-y)));
}

.holo-bg {
  position: absolute;
  border-radius: inherit;
  --size: 0;
  top: var(--size);
  right: var(--size);
  bottom: var(--size);
  left: var(--size);
  background: radial-gradient(ellipse at calc(90% - var(--ratio-x) * 20%) calc(0% - var(--ratio-y) * 20%), rgba(255, 255, 255, 0.7), var(--c1) 1%, rgba(255, 66, 236, 0.76) 20%, transparent), linear-gradient(110deg, #0093ff calc(10% - var(--ratio-x) * 20%), #51d6fd calc(20% - var(--ratio-x) * 20%), #0093ff calc(30% - var(--ratio-x) * 20%), rgba(255, 66, 236, 0.76) calc(60% - var(--ratio-x) * 20%), transparent calc(100% - var(--ratio-x) * 20%), transparent);
  transition: all 0.2s linear, opacity 0.8s ease;
  mix-blend-mode: hard-light;
  opacity: 0.3;
}

.holo-lines {
  -webkit-mask-image: url(/assets/img/holo-card-lines.png);
          mask-image: url(/assets/img/holo-card-lines.png);
  -webkit-mask-size: contain;
          mask-size: contain;
  -webkit-mask-repeat: no-repeat;
          mask-repeat: no-repeat;
  content: "";
  position: absolute;
  border-radius: inherit;
  --size: 0.001rem;
  top: var(--size);
  right: var(--size);
  bottom: var(--size);
  left: var(--size);
  pointer-events: none;
  background: linear-gradient(110deg, #0093ff calc(10% - var(--ratio-x) * 20% - var(--correction)), #51d6fd calc(20% - var(--ratio-x) * 20% - var(--correction)), #0093ff calc(30% - var(--ratio-x) * 20% - var(--correction)), hsla(192, 83%, calc(77% - 20% * var(--ratio-x)), 1) calc(40% - var(--ratio-x) * 20% - var(--correction)), transparent calc(60% - var(--ratio-x) * 20% - var(--correction)), magenta calc(70% - var(--ratio-x) * 20% - var(--correction)), black calc(80% - var(--ratio-x) * 20% - var(--correction)));
  transition: all 0.2s linear;
  pointer-events: none;
}

.circles {
  position: absolute;
  border-radius: inherit;
  --size: 0;
  overflow: hidden;
  top: var(--size);
  left: var(--size);
  right: var(--size);
  bottom: var(--size);
  opacity: 0.1;
  transition: all 0.8s ease;
}
.circles:before {
  content: "";
  position: absolute;
  aspect-ratio: 1/1;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: radial-gradient(ellipse at 50% 50%, rgba(78, 212, 253, 0.41) 0.25rem, transparent 0.25rem, transparent) repeat;
  background-size: 1rem 1rem;
  background-position: left top;
  transform: translate(-50%, -50%) rotate(45deg);
}
.circles:after {
  content: "";
  position: absolute;
  aspect-ratio: 1/1;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: radial-gradient(ellipse at 50% 50%, rgba(78, 212, 253, 0.41) 0.25rem, transparent 0.25rem, transparent) repeat;
  background-size: 1rem 1rem;
  background-position: left top;
  transform: translate(50%, 100%) rotate(45deg);
}

.card {
  containter-type: inline-size;
  display: flex;
  overflow: hidden;
  width: 20vmin;
  aspect-ratio: 3.126/4;
  color: var(--labs-sys-color-on-surface);
  border-radius: 4cqw;
  position: relative;
  --ratio-x: 1;
  --ratio-y: 1;
  transform-style: preserve-3d;
  transition: transform 0.2s linear;
  transform: rotateY(calc(-20deg * var(--ratio-x))) rotateX(calc(20deg * var(--ratio-y)));
  --correction: 100%;
}
.card:hover {
  transform: rotateY(calc(-20deg * var(--ratio-x))) rotateX(calc(20deg * var(--ratio-y)));
  --correction: 0%;
}
.card:hover .holo-bg {
  opacity: 0.8;
}
.card:hover .circles {
  opacity: 1;
}
.card.rotate {
  -webkit-animation: rotate 10s ease-in-out infinite;
          animation: rotate 10s ease-in-out infinite;
  --correction: 30%;
}
.card.rotate .holo-bg {
  opacity: 0.8;
}
.card.rotate .circles {
  opacity: 1;
}

@-webkit-keyframes rotate {
  from {
    --ratio-x: 1.2;
    --ratio-y: 1.2;
  }
  30% {
    --ratio-x: -1.5;
    --ratio-y: 0.2;
  }
  50% {
    --ratio-x: .5;
    --ratio-y: .2;
  }
  70% {
    --ratio-x: -1.5;
    --ratio-y: -1.2;
  }
  to {
    --ratio-x: 1.2;
    --ratio-y: 1.2;
  }
}

.tech-stack {
  display: flex;
  flex-direction: row;
  gap: 10px;
  justify-content: center;
  flex-wrap: wrap;
  margin-top: 4rem;
}

@keyframes rotate {
  from {
    --ratio-x: 1.2;
    --ratio-y: 1.2;
  }
  30% {
    --ratio-x: -1.5;
    --ratio-y: 0.2;
  }
  50% {
    --ratio-x: .5;
    --ratio-y: .2;
  }
  70% {
    --ratio-x: -1.5;
    --ratio-y: -1.2;
  }
  to {
    --ratio-x: 1.2;
    --ratio-y: 1.2;
  }
}

@media only screen and (max-width: 979px) {
  .ag-timeline_line {
    left: 30px;
  }

  .ag-timeline_item:nth-child(2n) {
    text-align: left;
  }

  .ag-timeline-card_box,
  .ag-timeline_item:nth-child(2n) .ag-timeline-card_box {
    padding: 0 0 20px;
  }
  .ag-timeline-card_meta-box {
    display: none;
  }
  .ag-timeline-card_point-box,
  .ag-timeline_item:nth-child(2n) .ag-timeline-card_point-box {
    margin: 0 0 0 8px;
  }
  .ag-timeline-card_point {
    height: 40px;
    line-height: 40px;
    width: 40px;
  }
  .ag-timeline-card_item {
    width: auto;
    margin: -65px 0 0 75px
  }
  .ag-timeline_item:nth-child(2n+1) .ag-timeline-card_item,
  .ag-timeline_item:nth-child(2n) .ag-timeline-card_item {
    -webkit-transform: translateX(200%);
    -moz-transform: translateX(200%);
    -ms-transform: translateX(200%);
    -o-transform: translateX(200%);
    transform: translateX(200%);
  }
  .ag-timeline_item:nth-child(2n+1) .ag-timeline-card_arrow {
    right: auto;
    left: 0;
  }
  .ag-timeline-card_title {
    display: block;
  }
  .ag-timeline-card_arrow {
    margin-top: 12px;
  }
}

@media only screen and (max-width: 767px) {
  .ag-format-container {
    width: 96%;
  }

  .ag-timeline-card_img {
    height: auto;
    width: auto;
  }
}

@media only screen and (max-width: 639px) {
  .ag-timeline_title {
    font-size: 60px;
  }

  .ag-timeline-card_info {
    padding: 10px 15px;
  }
  .ag-timeline-card_desc {
    font-size: 14px;
  }
}

@media only screen and (max-width: 479px) {

}

@media (min-width: 768px) and (max-width: 979px) {
  .ag-format-container {
    width: 750px;
  }

}

@media (min-width: 980px) and (max-width: 1161px) {
  .ag-format-container {
    width: 960px;
  }

}